<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maiya.dal.dao.credit.UserInfoDao">

    <select id="listUser" resultType="UserInfo">
        <![CDATA[

         SELECT sguid uid,suserno user_no,sname real_name,sidno id_card
          FROM maiyazx.hy_userinfo
          WHERE DATE(dregisterdate) >= DATE_ADD(#{offsetDate}, INTERVAL #{limitMonth} MONTH )
              AND DATE(dregisterdate) < DATE_ADD(#{offsetDate}, INTERVAL #{offsetMonth} MONTH );

        ]]>

    </select>

</mapper>