<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maiya.dal.dao.myCrawler.CrawlRetryTaskDao">

    <select id="listRetryTasks" resultType="CrawlRetryTask">
        SELECT id,site_id,real_name,id_card,retry_num FROM crawl_retry_task WHERE status = 0 limit 20;
    </select>

    <select id="findById" resultType="CrawlRetryTask">
        SELECT id,site_id,real_name,id_card,retry_num FROM crawl_retry_task WHERE id=#{id};
    </select>

    <insert id="insert" parameterType="CrawlRetryTask">
        insert into crawl_retry_task (site_id,real_name,id_card,status,create_time)
          values
            (#{siteId},#{realName},#{idCard},#{status},#{createTime});
    </insert>

    <update id="update" parameterType="CrawlRetryTask">
        UPDATE crawl_retry_task
          SET retry_num = #{retryNum},status = #{status},update_time = #{updateTime} WHERE id=#{id};
    </update>


</mapper>