<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maiya.dal.dao.myCrawler.CrawlRecordDao">


    <insert id="insertRecord" parameterType="CrawlRecord">
        INSERT into crawl_record (site,user_identity,user_name,login_flag,create_time)
          VALUES
            (#{site},#{userIdentity},#{userName},#{loginFlag},#{createTime});
    </insert>
    
    <update id="updateRecord" parameterType="CrawlRecord">
        UPDATE crawl_record
          SET
           <if test="loginFlag != null and loginFlag != '' ">
           login_flag = #{loginFlag},
           </if>
           <if test="crawlAddressFlag != null and crawlAddressFlag != '' ">
           crawl_address_flag = #{crawlAddressFlag},
           </if>
           <if test="crawlOrderFlag != null and crawlOrderFlag != '' ">
            crawl_order_flag=#{crawlOrderFlag},
            </if>
            update_time = #{updateTime} WHERE user_identity=#{userIdentity} and site=#{site};
    </update>
    
     <select id="findRecordByUserIdentity"  resultType="CrawlRecord">
        SELECT id,site,user_identity,login_flag,crawl_order_flag,crawl_address_flag,create_time,update_time FROM crawl_record  WHERE user_identity=#{0} and site=#{1};
    </select>
    


</mapper>